{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block generated_password_label %}
	{{ form_label(form) }}

	<a href="#" onclick="$('#{{ id }}').val(generatePassword()); return false;">{{ 'Generate'|trans }}</a>
{% endblock %}